.fin {
  color:green;
  background:none;
  border-color:#7B84FF;
  border:1px;
  text-align:center;
}
.intro {
  font-family: arial;
}
.endname {
  background-color:#7B84FF;
  color:black;
  display:block;
  border:none;
  margin:auto;
  margin-top:150px;
}
button:hover{
  background-color:white;
}
html {
    position:fixed;
  overflow:hidden;
  height:100%;
  width:100%;
  -moz-hidden-unscrollable;
}
body {

  padding:0;
  margin:0;
  background-image: url('media/background.jpg');
  background-position: center;
  background-color:black;
  width:100%;
  max-height:100vh;
  overflow:hidden;
  -moz-hidden-unscrollable
}
#titre {
  height:50px;
  width:200px;
  position:absolute;
  top:20px;
  left:20px;
  background-image: url('media/titre.png');
  background-position: center;
  background-size: 100%;
  z-index: 2;
}
#cache {
  position:absolute;
  margin-top:500px;
  height:100%;
  width:200px;
  background-color:black;
  margin-left:1050px;
  z-index: 3;
}
.mineraux {
  position:absolute;
  background-image:url('media/asteroid1.gif');
  background-position: center;
  background-size: 100%;
}
.asteroid1 {
  width:125px;
  height:125px;
  background-image:url('media/asteroid1.gif');
}
.asteroid2 {
  width:150px;
  height:150px;
  background-image:url('media/asteroid2.gif');
}
.asteroid0 {
  width:100px;
  height:100px;
  background-image:url('media/asteroid3.gif');
}
#vaisseau {
  z-index: 1;
  width:150px;
  height:150px;
  position:absolute;
  background-image: url('media/vessel.gif');
  background-position:400px;
  background-size:900% 100%;
  margin-left:500px;
  margin-top:1000px;
}
#generateur1 {
  margin-top:-500px;
}
#shield {
  position:absolute;
  margin-top:550px;
  margin-left:800px;
  background:none;
  border:none;
  color:green;
  font-size: 24px;
  font-family: "dolceVita";
}
#score {
  position:absolute;
  margin-top:570px;
  margin-left:150px;
  background:none;
  border:none;
  color:green;
  font-size: 24px;
  font-family:"dolceVita";
}
#gameover {
  position:absolute;
  top:30%;
  left:30%;
  font-family: "dolceVita";
  font-size: 20px;
  color:#7B84FF;
  text-align: center;
}
.regenerator {
  z-index: 3;
  position:absolute;
  width:100px;
  height:100px;
  background-image:url('media/shield.gif');
  background-position:center;
  background-size: 100%;
  border-radius: 50px;
}
.explose {
  z-index: 3;
  position:absolute;
  width:200px;
  height:200px;
  background-image:url('media/explose.png');
  background-size: 1200% 100%;
  overflow:hidden;
}
#container{
  height:300px;
  width:400px;
  margin-top:15%;
  margin-left:300px;
  font-family: "dolceVita";
  color:#7B84FF;
  overflow:hidden;
}
#containerscore{
  height:300px;
  width:400px;
  margin-top:15%;
  margin-left:300px;
  font-family: "dolceVita";
  color:#7B84FF;
  overflow:scroll;
  overflow-x: hidden;
}
.opt {
  font-family:"dolceVita";
}
.opt:hover {
  color:#AFBFFF;
}
@font-face {
  font-family: "dolceVita";
  src: url('media/DolceVita.ttf');
}
a {
  color:#7B84FF;
  text-decoration: none;
}
a:hover {
  color:#AFBFFF;
}
#planete {
  z-index: 0;
  position:absolute;
  width:1000px;
  height:1000px;
  margin-left:400px;
  top:-200px;
  background-image:url('media/blank.png');
  background-size: 100% 100%;
  overflow:hidden;
}
#shieldlvl {
  margin-top:515px;
  margin-left:760px;
  height:100px;
  width:100px;
  position:absolute;
  background-image:url('media/shieldlvl.gif');
  background-size: 100% 100%;
}
#scoint {
  position:absolute;
  margin-top:576px;
  margin-left:50px;
  background:none;
  border:none;
  color:green;
  font-size: 18px;
  font-family:"dolceVita";
}
#low{
  background-image:url('media/shieldlow2.gif');
  margin-top:25px;
  background-size: 100% 100%;
  height:150px;
  width:150px;
  opacity:0.5;
}
#shieldhit {
  background-image:url('media/shieldhit.png');
  background-size: 100% 100%;
  height:150px;
  width:150px;
  opacity:0.5;
}
.menusco {
  margin-left: 300px;
  margin-top: 30px;
  width:400px;
  text-align: center;
}